body {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header */
header {
  background-image: url(/neisson/NEI_Usine_Bicolor_4_site.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.navigation_bar {
  display: flex;
  color: #00bcd4;
  align-items: center;
  justify-content: space-between;
  padding: 1% 0;
  padding-inline: 2%;
  box-shadow: -2px 2px 6px rgb(0 0 0 / 40%), 4px 4px 8px rgb(0 0 0 / 38%) !important;
  z-index: 99;
  max-height: 55px;
}
.navigation_bar.mobile {
  background-color: #343a40;
}

.navigation_bar nav {
  position: absolute;
  left: -500px;
  top: 7%;
  width: 100%;
  transition: 0.3s ease-in;
  margin: 0;
}

.navigation_bar nav.active{
  left: 0;
  transition: 0.3s ease;
  background-color: #343a40;
  padding: 1% 0;
  margin-top: -4%;
}

.navigation_bar nav li {
  padding: 8px 6px;
  cursor: pointer;
  transition: 0.1s ease-in;
}
.navigation_bar nav li:hover {
  color: white;
  transition: 0.1s ease-in;
}
.navigation_bar nav li:nth-child(4) {
  display: flex;
  align-items:flex-start;
  justify-content: start;
  cursor: pointer;
}
.navigation_bar nav li:nth-child(4) i:nth-child(2) {
  margin-left: 10px;
  margin-top: -4px;
}

.language_choice p {
  display: none;
}
.language_choice.active p {
  display: block;
  transition: 0.5s ease-in;
}

.language_choice.active {
  background-color: white;
  padding: 1% 4%;
  width: 80%;
  color: black;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
}

.language_choice.active p:nth-child(1) i {
  color: blueviolet;
  width: 25px;
  height: 15px;
  margin-left: 5px;
}

.navigation_mobile{
  width: 90px;
  height: 55px;
  cursor: pointer;
}

.navigation_mobile span {
 height: 5px;
 width: 30px;
 background-color: #00bcd4;
 border-radius: 10px;
 margin: 5px 0;
 position: absolute;
 right: 8%;
}
.navigation_mobile span:nth-child(1) {
  top: 15px;
}
.navigation_mobile span:nth-child(2) {
  top: 25px;
}
.navigation_mobile span:nth-child(3) {
  top: 35px;
}
.herobanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 48px 0 0;
}
.herobanner img {
  width: 100%;
  max-width: 442.55px ;
}
.herobanner h2 {
  text-align: center;
  color: #ffc400 !important;
  text-shadow: 8px 8px 10px black;
}

/* main */
main{
  height: 1000px;
}


@media screen and (min-width: 992px) {
  .navigation_mobile{
    display: none;
  }
  .navigation_bar{
    padding: 0.5rem 1rem;
    padding-inline: 5%;
  }
  .navigation_bar nav {
    position:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .navigation_bar nav li {
    margin-inline: 10px;
  }

  .language_choice.active {
    background-color: white;
    padding: 1% 4%;
    width: 100px;
    color: black;
    position: fixed;
    top: 4.5%;
    left: 72%;
    border-radius: 5px;
  }
}
